{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password change {% endblock title %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Password change</h1>
            <p>
                Please enter your old password,
                for security’s sake,
                and then enter your new password twice so we can verify you typed it in correctly.
            </p>
            <form method="post" class="my-class">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="Change my password"
                       class="btn btn-success" style="margin-bottom: 20px;">
            </form>
        </div>
    </div>
{% endblock content %}
