{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <h1>Sign Up Form</h1>
            <form method="post" class="my-class">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <input type="submit" value="Sign up" class="btn btn-success"
                       style="margin-bottom: 20px;">
            </form>
        </div>
    </div>
{% endblock content %}