{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Update</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Update {{ post.title }} post</li>
                </ol>
            </div>
        </div>
    </section>
    <section class="blog" id="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 entries">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        {% if user.username == post.author.username %}
                            <input type="submit" value="Update" class="btn btn-success"
                                   style="margin-bottom: 20px;">
                        {% else %}
                            <input type="reset" value="No access" class="btn btn-warning"
                                   style="margin-bottom: 20px;">
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
